/* colors */
$text-primary: #ffffff;
$text-secondary: #84878d;
$body-bg: #17191f;
$component-bg: #282d36;
$btn-bg: #101215;
$shadow: #000000;

/* fonts */
$font-stack-primary: Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-size-default: 0.75rem; /* 12px on most browsers */
$font-size-h1: 1.375rem; /* 22px on most browsers */
$font-size-h5: 0.625rem; /* 10px on most browsers */
